name: Publish Package

on:
  push:
    tags:
      - 'v*.*.*' # Triggers on pushes to tags matching the pattern v1.0.0, v2.0.1, etc.

jobs:
  publish:
      runs-on: ubuntu-latest
      permissions:
        # Required to publish a release
        contents: write
      steps:
      - uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
            distribution: temurin
            java-version: 17
            cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Build
        run: sbt assembly
      - name: Publish to Github Artifacts
        env:
          GH_TOKEN: ${{ github.token }} // Use the runner token for this command
          RELEASE_TAG: ${{ github.ref_name}}
        run: |
          mv target/scala-2.13/hadoop-aws-sdk-minimal.jar hadoop-aws-sdk-minimal-$RELEASE_TAG.jar
          gh release create $RELEASE_TAG hadoop-aws-sdk-minimal-$RELEASE_TAG.jar \
            --generate-notes

          